html {
	font-size: 62.5%;
}

body {
		width: 100%;
background-color:#8FB2D1;
    min-height:100%;
     font-size: 100.01%;
	color: #585858;
}
.container {
    width: 960px;
    margin: auto;
    padding: 0px;
}

.megaclr {
	clear: both;

}

#tophead{
	width: 990px;
	margin: 0 auto;
	padding-bottom: 12px;
	padding-top: 12px;
}

#bottomhead{
	background: url(../images/menu-bar.png); background-repeat:repeat-x;
	width: 982px;
	margin:auto;
	border-top: 0px solid #c8ced6;

}

.headwrap{
	width: 980px;
	margin: 0 auto;
}

#menu-nav{
	margin: 0 auto;
	float: left;
	background-color:#eee;
	width:779px;
}

#mega-search{
	float: right;
	margin-top:-45px;
}

.megawrap{
	width: 982px;
	margin: 0 auto;
}

#megatopbor{
	background: url(../images/top-site-bg.jpg) no-repeat left center;
	width: 100%;
	height: 11px;
	overflow: hidden;
	margin: 0;
}

#megacenter{
	background: #f8f8f8;
	width: 980px;

}

#inner-megacenter{
	padding: 0px;
	overflow: hidden;
}

#mega-slider{
	width: 100%;
	float: left;
	margin-left:0px;
	margin-top:-5px;

}

#mega-breadcrumb{
	background: url(../images/breadcrumd.jpg) repeat-x left bottom;
	width: 98%;
	height: 30px;
	overflow: hidden;
	line-height: 25px;
	margin-bottom: 20px;
	padding: 0px 10px;
	float: left;
	clear: both;
}

#megacontainer{
	float: left;
	padding: 10px 10px;
	overflow: hidden;
}

#mega-left{
	float: left;
	background: 0 none;
	min-height:20px;
}

#megaleft-element{
	width: 225px;
	float: left;
}

#mega-right{
	background: 0 none;
	width: 225px;
	float: left;
	margin-left: 20px;
}

.megaline{
	width: 100%;
	float: left;
	clear: both;
}

.element{
	float: right;
	width: 225px
}

#element1{
	width: 715px;
}

#element1, #element3, #element5, #element6, #element8{
	margin-right: 20px;
        width: 715px;
        float:left;
}

#element8{
	width: 470px;
}

#footer{

	width: 980px;
	float: left;
	clear: both;
	overflow: hidden;
	background-color:#333;
}

/*Style detail*/
#tophead p{
	font-family: 'Times New Roman', Arial, Verdana;
	margin: 0px;
	color: #31577a;
	text-align: center;
	font-size: 15px;
}

#tophead p.line1 a{
	font-size: 30px;
	color: #31577a;
	text-align: center;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	padding: 15px 0 0;
}

.n-titlearticle p.n-articles{
	margin-bottom: 0px;
}

.eventlist,
.eventlistentry{
	width: 100%;
	clear: both;
	overflow: hidden;
}

.eventlistentry{
	margin-bottom: 10px;
}

.eventlistentry img{
	display: inline;
	float: left;
	margin-right: 5px;
	border: 1px solid #cdcdcd;
}

.eventlistentry p{
	margin-top: 0px;
}

.eventlistentry span.eventdate{
	display: block;
	color: #6d6d6d;
}

.eventlistentry a span{

}

.module_mainmenu a{
	background: url(../images/bullet-menu.png) no-repeat 0 5px;
	width: 100%;
	display: block;
	text-indent: 15px;
}

.module_mainmenu a#active_menu{
	background: url(../images/bullet-menu-hover.png) no-repeat 0 5px;
}

.social{
	width: 100%;
	overflow: hidden;
	float: left;
}

.social a{
	background: url(../images/social.png) no-repeat;
	width: 48px;
	height: 48px;
	margin-right: 3px;
	display: block;
	text-indent: 99px;
	float: left;
	overflow: hidden;
}

.social a.social1{
	background-position: 0 0px;
}

.social a.social2{
	background-position: 0 -48px;
}

.social a.social3{
	background-position: 0 -97px;
}

.social a.social4{
	background-position: 0 -146px;
}

#tophead p.line2{
	margin-top: -10px;
}

#footer p{
	margin: 0px;
	line-height: 40px;
	height: 60px;
	padding: 5px 20px 0px;
	color: #FFFFFF;
	float:right;
	font-weight:bold;
}

#searchplus {position:absolute; left:0px; top:200px; width:200px;  border:0px solid #5F7B90; }
#dbkategorite {position:absolute; right:0px; top:200px; width:200px;  border:0px solid #5F7B90;}




div.k2Pagination span {word-spacing:5px; margin-right:5px;}
div.k2Pagination strong {word-spacing:5px; margin-right:5px;}
div.k2Pagination a {word-spacing:5px; margin-right:5px;}



.pagination span { margin-right:5px;}
.pagination strong { margin-right:5px;}
.pagination a {margin-right:5px;}
#search_searchword {background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size: 92%;
    font-size:1.1em/1.5 Arial,helvetica,verdana;
    overflow: auto;
    padding: 5px;
    width: 230px;}

#ordering {background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size: 92%;
    overflow: auto;
    padding: 5px;
    width: 160px;
    margin-right:0px;
    font-size:1.1em/1.5 Arial,helvetica,verdana;}

#plg_ja_filterform h3 {display:none;}

#limit {background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size: 92%;
    overflow: auto;
    padding: 5px;
    width: 60px;
    margin-right:3px;
    font-size:1.1em/1.5 Arial,helvetica,verdana;
}















body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}

a, a:focus {
	outline: none;
}

html {
	height: 100%;
	margin-bottom: 1px;
}
/*
 * default values
 */
p {
	margin-top: 10px;
	margin-bottom: 15px;
}

ul, ol, dl {
	margin: 10px 0;
	padding-left: 30px
}
dl {margin: 10px 0;}
dd {padding-left: 40px;}

td, th {padding: 1px;}

a:link, a:visited {
	color: #304C6F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

fieldset {
	margin: 10px 0 10px 0;
	padding: 0 10px 10px 10px;
	border: 1px solid #c8c8c8;
}
legend {
	padding: 0 10px 0 10px;
	background: #ffffff;
}
form div {
	margin: 0px 0 0px 0;
}
textarea {
	padding: 1px 0 1px 5px;
}
option {
	padding: 0 0 1px 5px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	font-weight: normal;
}
h1 {
	font-size: 24px;
	line-height: 24px;
	margin-top: 25px;
	color: #304c6f;
}
h2 {
	font-size: 24px;
	line-height: 24px;
	margin-top: 0px;
	color: #304c6f;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	line-height: 18px;
	margin-top: 15px;
	color: #304C6F;
	font-weight: normal;
}
h4 {
	font-size: 16px;
	line-height: 16px;
	margin-top: 15px;
}
h5 {
	font-size: 14px;
	line-height: 14px;
	margin-top: 10px;
}
h6 {
	font-size: 14px;
	line-height: 14px;
	margin-top: 10px;
}

hr {
	margin: 15px 0 15px 0;
	display: block;
	background: #c8c8c8;
	height: 1px;
	border: none;
}

q {
	font-style: italic;
}
blockquote {
	margin: 10px 0 10px 15px;
	font-style: italic;
	font-size: 130%;
}
blockquote > *:first-child:first-letter {
	font-size: 150%
}
pre {
	margin: 10px 0 10px 0px;
	padding: 5px 0 5px 10px;
	border: 1px dotted #aab4be;
	border-left: 20px solid #b4b4b4;
	background: #fafafa;
	font-size: 90%;
	color: #2E8B57;
	font-family: "Courier New", Courier, monospace;
}
acronym, abbr {
	border-bottom: 1px dashed #969696;
	cursor: help;
	font-variant: small-caps;
	text-transform: lowercase;
}










body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}
h1, h2, h3, h4, h5, h6 {
    color: #304C6F;
    font-weight: normal;
}
h1 {
    font-size: 19px;
    line-height: 2;
    margin-bottom: 0.5em;
    text-align: justify;
}
h2 {
    font-size: 2em;
    line-height: 110%;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
p {
    margin: 0 0 1.5em;
}
.left {
    float: left !important;
}
p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
.right {
    float: right !important;
}
p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
a:focus, a:hover {
    color: #4AADDC;
}
a {
    color: #4AADDC;
    text-decoration: underline;
}
blockquote {
    color: #666666;
    font-style: italic;
    margin: 1.5em;
}
strong, dfn {
    font-weight: bold;
}
em, dfn {
    font-style: italic;
}
sup, sub {
    line-height: 0;
}
abbr, acronym {
    border-bottom: 1px dotted #666666;
}
address {
    font-style: italic;
    margin: 0 0 1.5em;
}
del {
    color: #666666;
}
pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt {
    font: 1em/1.5 'andale mono','lucida console',monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #999999;
    border-style: none none dotted;
    border-width: 1px;
    color: #FFFFFF;
}
li ul, li ol {
    margin: 0;
}
ul, ol {
    line-height: 2em;
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
dl {
    margin: 0 0 1.5em;
}
dl dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
caption {
    background: none repeat scroll 0 0 #EEEEEE;
}
.small {
    font-size: 0.8em;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}
.large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}
.hide {
    display: none;
}
.quiet {
    color: #666666;
}
.loud {
    color: #000000;
}
.highlight {
    background: none repeat scroll 0 0 #FFFF00;
}
.added {
    background: none repeat scroll 0 0 #006600;
    color: #FFFFFF;
}
.removed {
    background: none repeat scroll 0 0 #990000;
    color: #FFFFFF;
}
.first {
    float: left;
    margin-left: 0;
    padding-left: 0;
}
.last {
    float: right;
    margin-right: 0;
    padding-right: 0;
}
.top {
    margin-top: 0;
    padding-top: 0;
}
.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}












#wrapper {
    width: 800px;
    background: url(../images/header.png) no-repeat;
}

#header {
    height: 132px;
}
#columns {
    clear: both;
}
#column-one {
    float: left;
    width: 181px;
}
#column-two {
    float: right;
    width: 161px;
}
#column-content {
    margin: 0 161px 0 181px;
}

body.noRightColumn #column-content {
    margin-right: 0;
}

#column-content .visualPadding {
    padding: 0 30px;
}
#footer {
    clear: both;
    height: 24px;   
}

#logo {
    border: none;
    float: left;
    margin: 6px 0 0 8px;
}

#global-navigation {
    margin: 0 0 0 181px;
    padding: 26px 0 0 0;
}

#global-navigation li a {
    color: #FFF;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 80%;
}
#global-navigation li {
    background: url(../images/global-navigation.png) left no-repeat;
    padding: 0 6px 0 10px;
}

#global-navigation li:first-child {
    background: none;
}

#breadcrumbs {
    margin: 30px 0 0 202px;
    font-size: 80%;
    font-weight: bold;
}

#breadcrumbs a {
    color: #ff9900;
}

#actions {
    text-align: right;
    margin: 10px 16px 0 0;
}

#actions a {
    color: #000;
    font-size: 80%;
    font-weight: bold;
    margin: 0 0 0 20px;
}

#document-content {
    font-size: 80%;
}

#document-content p {
    margin: 0 0 1em 0;
}

#column-one ul.navTree {
    margin: 0 20px 0 20px;
}

#column-one ul.navTree li {
    display: list-item;
    border: none;
    background: url(../images/sub-navigation.png) no-repeat;
    margin: 0 0 1px 0;
    padding: 0 0 0 12px;
    line-height: 30px;
    width: 100%;
}

#column-one ul.navTree li a,
#column-one ul.navTree li a:hover {
    background: none;
    border: 0;
    margin: 0;
    color: #000 !important;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    padding: 0 !important;
}

dl.portlet {
    font-size: 80%;
    margin: 0 0 1em 0;
}

.field {
    margin: 0 0 1em 0;
}

dl.portletLogin {
    padding: 0 0 0 12px;
}
dl.portletLogin .portletHeader {
    background: url(../images/portlet-header.png) no-repeat left;
    padding: 0 0 0 6px;
}

dl.portletLogin dt.portletHeader a,
dl.portletLogin dt.portletHeader a:hover {
    color: #ff9900;
    font-weight: bold;
}

dl.portletLogin dd.portletItem {
    padding: 0 0 0 5px;
}

dl.portletLogin .even {
    display: none;
}

dl.portletLogin label {
    text-transform: uppercase;
    font-weight: normal;
}

div.formControls {
    margin: 0;
}

.ploneCalendar .todaynoevent {
    border:2px solid #ff9900;
}

dl.portletCalendar dt.portletHeader {
    background: #eeeddc;
    border-left: solid 1px #c1bb85;
    border-right: solid 1px #c1bb85;
    border-top: solid 1px #c1bb85;
    text-align: center;
    padding: 0;
    font-weight: normal;
}

dl.portletCalendar dt.portletHeader a,
dl.portletCalendar dt.portletHeader a:hover {
    color: #c1bb85;
}

dl.portletCalendar dt.portletHeader a.prev {
    float: left;
    margin:0 -0.5em;
    padding:0 1em;
}

dl.portletCalendar dt.portletHeader a.next {
    float: right;
    margin:0 -0.5em;
    padding:0 1em;
}

dl.portletCalendar dd.portletItem {
    padding: 0;
}

dl.portletCalendar .ploneCalendar {
    width: 100%;
    border: solid 1px #c1bb85;
}

dl.portletCalendar .ploneCalendar td {
    padding: 2px;
    width: 14%;
    text-align: center;
}

dl.portletCalendar .ploneCalendar th {
    background: #eeeddc;
    border-bottom: solid 1px #c1bb85;
}

dl.portletSearch input.searchButton {
    display: block;
    margin-top: 5px;
}

form {
    overflow: hidden;
    margin-top: 10px;
}

#searchform .searchButton {
    margin-left: 10px;
}

dl.portalMessage {
    clear: none;
}

#content {
    clear: none;
}